body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    line-height: 1.21; 
    color: #070707;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4,
h5, h6 {
    margin: 0;
}

.conteiner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    
}
    
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f55252;
    z-index: 2;
    
}


.header__body {
    display: flex;
    
    z-index: 2;
    justify-content: space-between;
    height: 80px;
    align-items: center ;
    }

.header__menu {
   margin: 0 auto;
    
}


.header__list {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 4;
    
}


    
.header__list li {
    list-style: none;
}
    
.header__link {
    text-decoration: none;  
    color: #0c0b0b;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 700; 
    margin-left: 50px;
}



.header__link:hover {
    color: rgb(189, 178, 178);
    transition: all .2s linear;
}

.header__link.active {
    color: rgb(255, 255, 255);
}

.header__burger {
    display: block;
    right: 0px;
    top: 0px;
    z-index: 5;
    
    width: 31px;
    height: 21px;
    position: absolute;
    display: none;
   }

   .header__burger::before,
   .header__burger::after {
    content: "";
    background-color: rgb(12, 11, 11);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.2s linear;
    
}


.header__burger>span {
background-color: rgb(5, 4, 4);
position: absolute;
width: 100%;
height: 3px;
left: 0;
top: 9px;
transition: all 0.2s linear;
}

.header__burger::before {
   top: 0;
}

.header__burger::after {
   bottom: 0;
}



.header__burger.active::before {
transform: rotate(45deg);
top: 9px;
}

.header__burger.active::after {
transform: rotate(-45deg);
bottom: 9px;
}

.header__burger.active .burger__span {
transform: scale(0);
}

 

       /* Intro */


.intro {
    
    width: 100%;
    height: 100vh;
}

.intro__header {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    
    padding-top: 95px;
}

.intro__bg {
    background-image: url("../img/intro/BSPP2266 (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
          
          
         
}

.intro__img {
    width: 100%;
    height: auto;
   
}


.intro__name {
    width: 100px;
    font-size: 48px;
    font-weight: 700;
    
}

.intro__characteristic {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    
}

.intro__languages {
    display: flex;
    transform: rotate(-90deg);
    font-size:16px;
    line-height: 1.23;
    font-weight: 700;
    width: 20px;
    z-index: -1;
    
}

.intro__ru {
    border-right: 2px solid #070707;
    padding-right: 3px;
    color: #828282;
}

.intro__en {
    padding-left: 3px;
}

/* About me */

.section__about {
    background-color: #F6F6F6;
    margin-top: 100px;
    text-align: center;

}

.about {
    padding-bottom: 20px;
}

.h1__title {
    padding: 100px 0 30px 0;
}

.about__text {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    
    font-size: 16px;
}




     /* Skills*/

.skills__title {
    font-size: 34px;
    font-weight: 700;
    padding-top: 100px;
    
    text-align: center;
}

.skills__text {
    font-size: 18px;
    font-weight: 500;
    
    margin-top: 100px;
    text-align: center; 
}

.skills__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.skills__item {
    max-width: 169px;
    max-height: 230px;
    margin-bottom: 100px;
    
    text-align: center;
}



.skills-icon__name {
    margin: 30px 0  0;
    font-size: 14px;
}

.skills__stars {
    display: inline-block;
    margin-top: 50px;
    
}

.skills__stars1 {
    display: inline-block;
    margin-top: 64px;
    
}

   /* Portfolio */

.section__portfolio {
    background-color: #F6F6F6;
}  

.portfolio__title {
    font-size: 34px;
    font-weight: 700;
    padding-top: 100px;
    
    text-align: center;
}

.portfolio__photo {
    margin: 80px 0 40px 0;
}

.portfolio__img {
    width: 100%;
    height: auto;
}

.portfolio__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio__text:last-child {
    padding-bottom: 70px;
}

    
      /* Footer */

.footer__contacts {
    text-align: center;
}

.footer__title {
    font-size: 34px;
    font-weight: 700;
    padding-top: 100px;
    
    
}      

.footer__text {
    font-size: 18px;
    line-height: 1.21;
    text-align: center;
    margin: 50px 0 50px 0;
}

.footer__text--down {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-bottom: 123px;
    color: #828282;
}

.button {
    display: inline-block;
    vertical-align: top;
    background: #070707;
    border: 1px solid #070707;
    border-radius: 20px;
    padding: 10px 20px;
    
}

.button:hover {
    background: #423636;
    transition: .2s linear;
}

.btn {
    text-decoration: none;
    color:#FFF;
}

.btn:hover {
    color: #d1caca;
    transition: .2s linear;
}

.footer__social {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    
}



.social-item {
    list-style-type: none;
    margin: 80px 30px 60px 30px;
    border: 0;
}

.social-link {
    display: block;
    width: 41px;
    height: 41px;
    

}

.social-in  {
    background-image: url('../img/contacts social/Group 2.svg');
}

.social-instagram  {
    background-image: url('../img/contacts social/insta.svg');
}

.social-be  {
    background-image: url('../img/contacts social/behance.png');
}

.social-boll  {
    background-image: url('../img/contacts social/surface1\ 7.svg');
}



@media (max-width: 767px) {
    
      /* Nav */
    .header::before {
        z-index: 2;
    }

    .header__list  {
        position: relative;
        z-index: 4;
        display: block;
    }
    
    .header__list li {
       margin: 0 0 40px 0;
       text-align: end;
       margin-right: 25px;
    }
    .header__link {
        position: relative;
        z-index: 4;
        font-size: 24px;
        color: #fff;
    }

    .header__body {
        height: 50px;
        
       }
      .header__menu {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgb(8 7 7 / 90%);
         padding: 55px 0 0 0;
         transition: all .3s;
      }
      .header__menu.active {
          top: 0;
      }

      .header__burger {
        display: block;
        right: 25px;
        top: 15px;
        z-index: 5;
        
        width: 31px;
        height: 21px;
        position: absolute;
        
       }

       .header__burger.active>span {
        transform: scale(0);
       }
    
       .header__burger::before,
       .header__burger::after {
        content: "";
        background-color: rgb(12, 11, 11);
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.2s linear;
        
    }

    
    .header__burger>span {
    background-color: rgb(5, 4, 4);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    transition: all 0.2s linear;
    }
    
    .header__burger::before {
       top: 0;
    }
    
    .header__burger::after {
       bottom: 0;
    }
    
    
    
    .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    }
    
    .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    }
    
    .header__burger.active .burger__span {
    transform: scale(0);
    }
    

     /* Intro */
    
    .intro__name {
        font-size: 35px;
    }

    .intro__characteristic {
        font-size: 14px;
    }

       /* Skills */

       .skills__inner {
           flex-wrap: wrap;
           width: 50%;
           margin: 0 auto;
           margin-bottom: 50px;
       }
        .skills__title {
            padding-top: 25px;
        }
       .skills__img {
           margin-top: 30px;

       }
            
          /* About */
       
        .about__text--1 {
           font-size: 12px;
           width: 400px;
       }

       .about__text--2 {
        font-size: 12px;
        width: 400px;
    }

    .about__text--3 {
        font-size: 12px;
        width: 400px;
    }
    .portfolio__title {
        padding-top: 25px;
        
     }
     body.lock {
        overflow: hidden;
    }

    }
    


@media (max-width: 575px) {
    
       /* Intro */
      
        .intro {
            padding-top: 155px;
            height: auto;
        }
    
    
    .intro__characteristic {
        width: 100%;
        margin: -20px 0 10px 0px;
        font-size: 14px;
        
        
}


     .intro__name {
          margin-bottom: 0;
          font-size: 32px;
          
          position: absolute;
          top: -100;
          left: 0px;
      }

   

      .intro__header {
          flex-wrap:wrap;
          position: fixed;
          margin-bottom: 0px;
          padding-top: 0px;
          position: relative;
      }



      .intro__bg {
        background-image: url("../img/intro/BSPP2266222.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
       
        }

        .intro__languages {
            display: none;
        }
              
   
.social-item {
    list-style-type: none;
    margin: 80px 20px 60px 20px;
    border: 0;
}
     
/*Skills*/


    .button {
        padding: 10px 80px;
}

.skills__item {
   max-width: none;
   margin: 0 auto;
   margin-bottom: 30px;

}

.skills__text {
    margin-top: 50px;
}


.nav-toggle {
    top: 15px;
    right: 19px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    
    transform-origin: left top;
    transform: rotate(45deg)
    translateY(-6px);
}

.nav-toggle.active .nav-toggle__item:after {
    
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translateY(5px);
}

.header.fixed {
    background-color: #FFF;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

}

.header.active {
    background-color: #423636;

}



    /* About */


.section__about {
    margin-top: 0px;

}

.h1__title {
    padding: 25px 0 30px 0;
}





}